body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

label {
  font-weight: bold;
}


