<div class="container">
  <form>
    <div class="grid">
      <div class="col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"></p-calendar>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição {{ descricao.errors | json }}</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">


        <p-message *ngIf="descricao.hasError('required') && descricao.dirty" severity="error"
            text="Informe uma descrição"></p-message>

        <p-message *ngIf="descricao.hasError('minlength') && descricao.dirty" severity="error"
          text="Minimo de {{ descricao.errors?.['minlength'].requiredLength }}
          caracteres. Você digitou apenas {{descricao.errors?.['minlength'].actualLength}}"></p-message>
      </div>



      <div class="col-12 md:col-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber mode="currency" currency="BRL" placeholder="0,00" name="valor"></p-inputNumber>

      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-secondary"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
